@import './Root.css';
.leftbar {
  width: 100%;
  height: 100%;
  background-color: var(--bgc-leftbar);
}
.leftbar .leftbar-btn {
  width: 100%;
  height: 75px;
  font-size: 1.2em;
  border-radius: 0px;
  border: none;
  background-color: var(--bgc-leftbar);
}
.leftbar .leftbar-btn:active {
  background-color: var(--bgc-btn);
}